
body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
/* --------------------------------------------------------------- */
.headerContainer {
    border: 3px solid white;
}
.logo{
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 8vw 9vw;
    height:9vw;
    width:10vw;
    position: relative;
    display: inline-block;
}
/* --------------------------------------------------------------- */
.sideBar {
    height: 80%;
    display: inline-block;
    width: 19%;
    margin-right: 10%;
}
.statsContainer {
    border: 3px solid white;
    height: 50%;
    width: 100%;
}
.team {
    border: 3px solid white;
    height: 25%;
    width: 100%;
}
/* --------------------------------------------------------------- */
#gameArea{
    vertical-align: top;
    height: 60%;
    width: 70%;
    display:inline-block;
    border: 3px solid white;
}
.container {
    float: left;
}
.card{
    position: relative;
    display: inline-block;
    height: 200px;
    width: 125px;
}
.cardBottom img, .cardTop img{
    height: 80%;
    width: 80%;
    position: absolute;
}

/*.cardBottom, .cardTop {
    display: flex;
    align-items: center;
}

 .bushStill{
    display: block;
    margin: 50px 0 0 5px;
    height: 48%;
    width: 90%
}
.hiddenBush {
    opacity: 0;
} */
/* --------------------------------------------------------------- */