
body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
/* --------------------------------------------------------------- */
.headerContainer {
    border: 3px solid white;
}
.logo{
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    height:150px;
    width:150px;
    position: relative;
    display: inline-block;
}
/* --------------------------------------------------------------- */
.statsContainer {
    border: 3px solid white;
    position: relative;
    display: inline-block;
}
/* --------------------------------------------------------------- */
.gameArea{
    height: 100%;
    width: 100%;
    position: relative;
    display:inline-block;
    border: 3px solid white;
}
.container {
    float: left;
}
.card{
    position: relative;
    display: inline-block;
    height: 200px;
    width: 125px;
}
.cardBottom img, .cardTop img{
    height: 80%;
    width: 80%;
    position: absolute;
}

.cardBottom, .cardTop {
    display: flex;
    align-items: center;
}

/* .bushStill{
    display: block;
    margin: 50px 0 0 5px;
    height: 48%;
    width: 90%
}
.hiddenBush {
    opacity: 0;
} */