
@font-face{
    font-family: "pokemonSolid";
    src: url("fonts/pokemonSolid.ttf");
}
@font-face{
    font-family: "pokemonHollow";
    src: url("fonts/pokemonHollow.ttf");
}
body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-size: 0;
}
body>* {
    font-size: initial;
}
/* --------------------------------------------------------------- */
.sideBar {
    height: 100vh;
    display: inline-block;
    width: 25%;
}
.statsContainer {
    background-image: url("images/pokedex.png");
    background-repeat: no-repeat;
    background-size: 50vh 98vh;
    height: 98vh;
    width: 50vh;
    top: 1vh;
    position: absolute;
}
.muteButton {
    background-image: url("images/soundoff.png");
    background-repeat: no-repeat;
    background-size: 6vh;
    height: 6vh;
    width: 6vh;
    position: absolute;
    display: inline-block;
    right: 4vh;
    top: 23vh;
}
.logo {
    background-image: url("images/logo1.png");
    background-repeat: no-repeat;
    background-size: 20vh 14vh;
    height: 10vh;
    width: 20vh;
    position: relative;
    display: inline-block;
    left: 15vh;
    top: 25vh;
}
.gameTitle {
    font-family: "pokemonHollow";
    color: cadetblue;
    position: relative;
    text-align: center;
    top: 22vh;
}
.gamesPlayed, .attempts, .accuracy {
    font-family: "pokemonSolid";
    font-size: 2vh;
    color: cadetblue;
    position: relative;
    text-align: center;
    top: 22vh;
}
.link1, .link2 {
    font-family: "pokemonSolid";
    font-size: 2vh;
    display: inline-block;
    position: relative;
    color: cadetblue;
    margin: 0 4vh;
}
.link1 {
    top: 51vh;
    left: 1vh;
}
.link2 {
    top: 51vh;
    left: 16vh;
}
.resetButton {
    background-image: url("images/resetbutton.png");
    background-repeat: no-repeat;
    background-size: 6vh;
    height: 6vh;
    width: 6vh;
    position: relative;
    display: inline-block;
    top: 34vh;
    left: 22vh;
}
/* --------------------------------------------------------------- */
#gameArea{
    vertical-align: top;
    margin-top: 4%;
    height: 80vh;
    width: 73%;
    display: inline-block;
}
.row{
    position: relative;
    height: 205px;
}
.container {
    float: right;
}
.card{
    position: relative;
    display: inline-block;
    height: 250px;
    width: 180px;
}
.cardBottom img, .cardTop img{
    height: 80%;
    width: 80%;
    position: absolute;
    border-radius: 8px;
}
.cardBottom img{
    border: 3px solid lightblue;
}
.cardTop img{
    border: 3px solid white;
}
/* --------------------------------------------------------------- */
.winModal{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.winBox {
    position: absolute;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    right: 0;
    display: block;
}
.winText {
    font-family: "pokemonSolid";
    font-size: 10vw;
    color: deepskyblue;
    text-shadow: 2px 2px 5px lightcyan;
    margin-top: 10vh;
    margin-top: 10vh;
    position: absolute;
    top: 0;
    left: 25vw;
    z-index: 1;
}
.winImg{
    display: block;
    height: 100vh;
    bottom: 0;
    right: 0;
    position: absolute;
}
/* --------------------------------------------------------------- */
.mew {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    background-image: url("images/mew.png");
    background-repeat: no-repeat;
    background-size: 40vh;
    height: 40vh;
    width: 35vh;
    position: absolute;
    bottom: 7vh;
    right: 9vh;
}